<!-- <form action="#customer-login" method="post">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input
      type="email"
      ng-model="accCustomer.email"
      class="form-control"
      id="inputEmail4"
    />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input
      type="password"
      ng-model="accCustomer.pass"
      class="form-control"
      id="inputPassword4"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form> -->
<form>
  <!-- Các trường form đăng nhập -->
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input
      type="email"
      ng-model="accCustomer.email"
      class="form-control"
      id="inputEmail4"
    />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input
      type="password"
      ng-model="accCustomer.password"
      class="form-control"
      id="inputPassword4"
    />
  </div>
  <a href="#guest-login">
    <button type="button" class="btn btn-primary">Login</button>
  </a>
</form>
