<!-- <!DOCTYPE html>
<html lang="en" ng-app="testCuaHang2">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="container">
      <h1 class="text-center">Xin Chaoooooooooooooooo</h1>
      <br />
    </header>
    <section class="container">
     
    </section>
    <footer class="container">
      <br />
      <h1 class="text-center">Nguyen Thuy Duong</h1>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    JavaScript Libraries
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    Template Javascript
    <script src="js/main.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-route.js"></script>
    <script src="/user/src/config/api.js"></script>
    <script src="/admin/controller/ctsp-controller.js"></script>
    <script src="/admin/controller/san-pham-controller.js"></script>
    <script src="/admin/controller/category-controller.js"></script>
    <script src="/admin/controller/size-controller.js"></script>
    <script src="/admin/controller/chat-lieu-controller.js"></script>
    <script src="/admin/controller/mau-sac-controller.js"></script>
    <script src="/admin/controller/quan-ly-hoa-don-controller.js"></script>
    <script src="/admin/controller/admin-login-controller.js"></script>
    <script src="/admin/route-admin2.js"></script>
  </body>
</html> -->
<div class="form-login">
  <form>
    <div class="col-md-5 mx-auto">
      <label for="inputEmail4" class="form-label">Email:</label>
      <input
        type="email"
        ng-model="accAdmin.email"
        class="form-control"
        id="inputEmail4"
      />
    </div>
    <div class="col-md-5 mx-auto">
      <label for="inputPassword4" class="form-label">Password:</label>
      <input
        type="password"
        ng-model="accAdmin.password"
        class="form-control"
        id="inputPassword4"
      />
    </div>
    <br />
    <br />
    <div class="d-grid gap-2 col-5 mx-auto">
      <a href="#admin-login">
        <button class="btn btn-primary" type="button">Login</button>
      </a>
    </div>
  </form>
</div>
