<section class="right container">
  <div class="form-add">
    <form action="">
      <div class="col-6">
        <label>Ma:</label>
        <input type="text" class="form-control" ng-model="request.code" />
      </div>
      <div class="col-6">
        <label>Ten:</label>
        <input type="text" class="form-control" ng-model="request.name" />
      </div>
      <div class="col-6">
        <label>status:</label>
        <input type="text" class="form-control" ng-model="request.status" />
      </div>
      <a href="#category-add">
        <button class="btn btn-success col-1 m-3">Thêm</button>
      </a>
    </form>
  </div>
  <div class="tblHienThi">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cate in listCategory">
          <td>{{cate.code}}</td>
          <td>{{cate.name}}</td>
          <td>{{cate.status}}</td>
          <td>
            <a href="#category/detail/{{cate.id}}"><button>Detail</button></a>
            <a href="#category/delete/{{cate.id}}"><button>Delete</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
